<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="TLCCmdLineParameters" value=""/>
    <intAttribute key="collectCoverage" value="1"/>
    <stringAttribute key="configurationName" value="Model_1_SnapShot_1766154848436"/>
    <booleanAttribute key="deferLiveness" value="false"/>
    <intAttribute key="dfidDepth" value="100"/>
    <booleanAttribute key="dfidMode" value="false"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.178.80"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <stringAttribute key="distributedTLCVMArgs" value=""/>
    <intAttribute key="fpBits" value="1"/>
    <intAttribute key="fpIndex" value="110"/>
    <booleanAttribute key="fpIndexRandom" value="true"/>
    <intAttribute key="maxHeapSize" value="92"/>
    <intAttribute key="maxSetSize" value="1000000"/>
    <booleanAttribute key="mcMode" value="true"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="FairSpec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="actionCounter, replicas"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1TypeOK"/>
        <listEntry value="1Inv_Conservation_of_amount"/>
        <listEntry value="1Inv_ExpenseGroupExists"/>
        <listEntry value="1Inv_GroupBalanceZero"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1Liveness_ExpensePropagates"/>
        <listEntry value="1Liveness_GroupMemberShipPropagates"/>
        <listEntry value="1Safety_ExpenseVersionsNonDecreasing"/>
        <listEntry value="1Safety_GroupMembersCounterNonDecreasing"/>
        <listEntry value="1Safety_AcknowledgedSharesNonDecreasingForSameVersion"/>
        <listEntry value="1Liveness_ExpenseSharesEventuallyAcknowledged"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="14"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="NO_EXPENSE;;NO_EXPENSE;1;0"/>
        <listEntry value="POSSIBLE_REPLICA_IDs;;{r1, r2, r3};1;0"/>
        <listEntry value="NO_GROUP;;NO_GROUP;1;0"/>
        <listEntry value="ASSIGNED_REPLICA;;[u \in USERS |-&gt; IF u = a THEN r1 ELSE IF u = b THEN r2 ELSE r3];0;0"/>
        <listEntry value="POSSIBLE_GROUP_IDs;;{gid1};1;0"/>
        <listEntry value="POSSIBLE_SHARES;;[USERS -&gt; 0..1];0;0"/>
        <listEntry value="POSSIBLE_EXPENSE_IDs;;{eid1, eid2};1;0"/>
        <listEntry value="USERS;;{a, b, c};1;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value="actionCounter &lt;= 3"/>
    <listAttribute key="modelParameterDefinitions"/>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="8"/>
    <booleanAttribute key="recover" value="false"/>
    <stringAttribute key="result.mail.address" value=""/>
    <intAttribute key="simuAril" value="-1"/>
    <intAttribute key="simuDepth" value="100"/>
    <intAttribute key="simuSeed" value="-1"/>
    <stringAttribute key="specName" value="SplitLess_replica_group_expenses"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
    <stringAttribute key="view" value=""/>
    <booleanAttribute key="visualizeStateGraph" value="false"/>
</launchConfiguration>
